body {
  font-size: 1.5em;
}
input[type=radio] {
  margin-top:.9rem;
  transform: scale(1.5);
}
input[type=button] {
  padding:0rem 1rem .5rem 1rem;
}

.jumbotron {
  text-align:center;
}

.hidden {
  display:none;
}

#error {
  color: red;
  justify-content:center;
}

#result {
  margin: 10vw;
}
.container {
  display:flex;
  justify-content: center;
}

img {
  width:10vw;
  padding:1rem;
  float:left;
}